{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0d1117;
    color:#e6edf3;
    font-family:Segoe UI, sans-serif;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:40px 20px;
}

.perfil{
    text-align:center;
    margin-bottom:40px;
}

.perfil h1{
    font-size:3rem;
}

.perfil p{
    color:#8b949e;
}

.card{
    background:#161b22;
    padding:25px;
    border-radius:15px;
    margin-bottom:20px;
}

h2{
    margin-bottom:15px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.skills img{
    width:60px;
    transition:.3s;
}

.skills img:hover{
    transform:scale(1.15);
}

.projeto{
    margin-top:15px;
}

.links{
    margin-top:20px;
}

.links a{
    text-decoration:none;
    color:#e6edf3;
    border:1px solid #30363d;
    padding:10px 18px;
    border-radius:8px;
    margin:0 5px;
    transition:.3s;
}

.links a:hover{
    background:#21262d;
}
